svg#barSvg {
    background-color: lightgray;
    opacity: 0.8;
}

/* the bar selection rectangle */
path#menuSelection,
rect#menuSelection {
    fill: black;
}

rect.content {
    /* color: auto */

}

path.transition {
    opacity: 1;
}


body {
  font-family: Helvetica, Arial, sans;
  padding: 20px;
  margin: 0;
}

h1 {
  margin-top: 0;
}

div.tooltip {   
    position: absolute;
    text-align: center;
    vertical-align: central;        
    
    display: block; /* add this */
    padding: 5px;
              
    font: 12px sans-serif;        
    background: lightsteelblue;   
    border: 0px;      
             
    pointer-events: none;         
}