<!doctype html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/site_media/jquery/css/sunny/jquery-ui-1.10.1.custom.css" rel="stylesheet">
    <link href="/site_media/css/form.css" rel="stylesheet">
    <link href="/site_media/css/body.css" rel="stylesheet">
    <script src="/site_media/jquery/js/jquery-1.9.1.js"></script>
    <script src="/site_media/jquery/js/jquery-ui-1.10.1.custom.js"></script>
    <script src="/site_media/jquery/js/jquery.ui.selectmenu.js"></script>
       
    <script type="text/javascript" src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>


<script src="http://connect.facebook.net/en_US/all.js"></script>

</head>
 {% block content %}
   {% endblock %}

</html>
