<!doctype html>
<html lang="uk">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="jquery/css/sunny/jquery-ui-1.10.1.custom.css" rel="stylesheet">
    <link href="css/form.css" rel="stylesheet">
    <link href="css/body.css" rel="stylesheet">
    <script src="jquery/js/jquery-1.9.1.js"></script>
    <script src="jquery/js/jquery-ui-1.10.1.custom.js"></script>
    <script src="jquery/js/jquery.ui.selectmenu.js"></script>
        
    <script type="text/javascript" src="http://tile.cloudmade.com/wml/latest/web-maps-lite.js"></script>
<script>    
    function form(){
    $(".radiogroup").each(function() {
        var radios = $(this).find(":radio").hide();
        $("<div></div>").slider({
          min: parseInt(radios.first().val(), 10),
          max: parseInt(radios.last().val(), 10),
          slide: function(event, ui) {
            radios.filter("[value=" + ui.value + "]").click();
          }
        },5).appendTo(this);
    });
    }
    function check(){
    alert($(":radio[name=age]:checked").val());
    }
    $(function(){
        $("#age").buttonset();
        $("#submit").button();
        $("#reset").button();
        
        $("#shareposition").button();
        $("#mapholder").hide();
    });
</script>

<script>
var x=document.getElementById("mapholder");

function getLocation(){
  if (navigator.geolocation){
    navigator.geolocation.getCurrentPosition(showPosition);
  }
  else{x.innerHTML="";}
  }
function showPosition1(position){
  alert(position.coords.latitude);
  $("#geoLat").val(position.coords.latitude);
  $("#geoLong").val(position.coords.longitude);	
  submit_form();
}
  
function showPosition(position){
    //var latlon=position.coords.latitude+","+position.coords.longitude;
    $("#mapholder").show();
    $("#shareposition").hide();
    $("#geoLat").val(position.coords.latitude);
    $("#geoLong").val(position.coords.longitude);	
    create_map(position.coords.latitude,position.coords.longitude);
    submit_form();
}
  
function create_map(lat,longt){
    var cloudmade = new CM.Tiles.CloudMade.Web({key: 'eb9238c6dc0248efb8cc8d6a285df878'});
    var map = new CM.Map('mapholder', cloudmade);
    map.setCenter(new CM.LatLng(lat, longt), 15);
    
    var myMarkerLatLng = new CM.LatLng(lat,longt);
        var myMarker = new CM.Marker(myMarkerLatLng, {
	    title: "My location"
        });
        map.addOverlay(myMarker);
        
}
</script>

<script src="http://connect.facebook.net/en_US/all.js"></script>

</head>
<body onload="form()">
    <div id="container">
        <div id="header">Make my day<br/><div id="headersubtitle">@ Edinburgh</div></div>
        <div id="form_container">
            <form method="POST" action="make/" id="blah">
                {% csrf_token %}
                <div id="age_container">
                    <div id="fb-root"></div>
<script>
  // Additional JS functions here
  alert(3);
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '156425604515025', // App ID
      channelUrl : '//http://127.0.0.1:8000/', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });
    alert(2);
    // Additional init code here
    FB.api("me/likes",
        function (response) {
        $("#mapholder").html(JSON.stringify(response));
        $("#mapholder").show(); 
        alert(1); 
    });
    

  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>
                    <div class="fb-login-button" data-show-faces="true" data-width="100" data-max-rows="1" style="margin-left: 00px; margin-right: auto; margin-top: -20px;"></div>
                    <!--<div id="fb-root">

                        <fb:login-button autologoutlink="true" onlogin="OnRequestPermission()"></fb:login-button>
                        <script language="javascript" type="text/javascript">
                            FB.init({
                                appId: '156425604515025',
                                status: true,
                                cookie: true,
                                xfbml: true
                            });   
                        </script>

                    </div>
                    -->
                    
                    <h2 id="iam">I am a</h2>
                    
                    <div id="age">
                        <input type="radio" id="age0" name="age" value="0"/><label for="age0"/>Toddler</label>
                        <input type="radio" id="age1" name="age" value="1"/><label for="age1">Junior</label>
                        <input type="radio" id="age2" name="age" value="2"/><label for="age2">Teenager</label>
                        <input type="radio" id="age3" name="age" value="3"/><label for="age3">Student</label>
                        <input type="radio" id="age4" name="age" value="4" checked="checked"/><label for="age4">Adult</label>
                        <input type="radio" id="age5" name="age" value="5"/><label for="age5">Senior</label>
                    </div>
                </div>
                
                <div id="sliders">
                    <h2>Choose what is closest to your preferences:</h2>
                            <div id="sliders_labels">
                                <div id="sliders_labels_left">Disagree</div>
                                <div id="sliders_labels_right">Agree</div>
                            </div>
                            <div class="radiogroup" id="sport">
                                I like doing sports
                                <label><input name="sport" type="radio" value="0" checked="checked"/></label>
                                <label><input name="sport" type="radio" value="1"/></label>
                                <label><input name="sport" type="radio" value="2"/></label>
                                <label><input name="sport" type="radio" value="3"/></label>
                                <label><input name="sport" type="radio" value="4"/></label>
                                <label><input name="sport" type="radio" value="5"></label>
                                <label><input name="sport" type="radio" value="6"/></label>
                                <label><input name="sport" type="radio" value="7"/></label>
                                <label><input name="sport" type="radio" value="8"/></label>
                                <label><input name="sport" type="radio" value="9"/></label>
                                <label><input name="sport" type="radio" value="10"/></label>
                            </div>
                            
                            <div class="radiogroup" id="brave">
                                I like adrenaline pumping activities
                                <label><input name="brave" type="radio" value="0" checked="checked"/></label>
                                <label><input name="brave" type="radio" value="1"/></label>
                                <label><input name="brave" type="radio" value="2"/></label>
                                <label><input name="brave" type="radio" value="3"/></label>
                                <label><input name="brave" type="radio" value="4"/></label>
                                <label><input name="brave" type="radio" value="5"></label>
                                <label><input name="brave" type="radio" value="6"/></label>
                                <label><input name="brave" type="radio" value="7"/></label>
                                <label><input name="brave" type="radio" value="8"/></label>
                                <label><input name="brave" type="radio" value="9"/></label>
                                <label><input name="brave" type="radio" value="10"/></label>
                            </div>
                            
                            <div class="radiogroup" id="travel">
                                I like travelling
                                <label><input name="travel" type="radio" value="0" checked="checked"/></label>
                                <label><input name="travel" type="radio" value="1"/></label>
                                <label><input name="travel" type="radio" value="2"/></label>
                                <label><input name="travel" type="radio" value="3"/></label>
                                <label><input name="travel" type="radio" value="4"/></label>
                                <label><input name="travel" type="radio" value="5"></label>
                                <label><input name="travel" type="radio" value="6"/></label>
                                <label><input name="travel" type="radio" value="7"/></label>
                                <label><input name="travel" type="radio" value="8"/></label>
                                <label><input name="travel" type="radio" value="9"/></label>
                                <label><input name="travel" type="radio" value="10"/></label>
                            </div>
                            
                            <div class="radiogroup" id="friendly">
                                I am outgoing
                                <label><input name="friendly" type="radio" value="0" checked="checked"/></label>
                                <label><input name="friendly" type="radio" value="1"/></label>
                                <label><input name="friendly" type="radio" value="2"/></label>
                                <label><input name="friendly" type="radio" value="3"/></label>
                                <label><input name="friendly" type="radio" value="4"/></label>
                                <label><input name="friendly" type="radio" value="5"></label>
                                <label><input name="friendly" type="radio" value="6"/></label>
                                <label><input name="friendly" type="radio" value="7"/></label>
                                <label><input name="friendly" type="radio" value="8"/></label>
                                <label><input name="friendly" type="radio" value="9"/></label>
                                <label><input name="friendly" type="radio" value="10"/></label>
                            </div>
                            
                            <div class="radiogroup" id="exploration">
                                I am keen on exploration
                                <label><input name="exploration" type="radio" value="0" checked="checked"/></label>
                                <label><input name="exploration" type="radio" value="1"/></label>
                                <label><input name="exploration" type="radio" value="2"/></label>
                                <label><input name="exploration" type="radio" value="3"/></label>
                                <label><input name="exploration" type="radio" value="4"/></label>
                                <label><input name="exploration" type="radio" value="5"></label>
                                <label><input name="exploration" type="radio" value="6"/></label>
                                <label><input name="exploration" type="radio" value="7"/></label>
                                <label><input name="exploration" type="radio" value="8"/></label>
                                <label><input name="exploration" type="radio" value="9"/></label>
                                <label><input name="exploration" type="radio" value="10"/></label>
                            </div>
                            
                            <div class="radiogroup" id="nature">
                                I like nature rather that city
                                <label><input name="nature" type="radio" value="0" checked="checked"/></label>
                                <label><input name="nature" type="radio" value="1"/></label>
                                <label><input name="nature" type="radio" value="2"/></label>
                                <label><input name="nature" type="radio" value="3"/></label>
                                <label><input name="nature" type="radio" value="4"/></label>
                                <label><input name="nature" type="radio" value="5"/></label>
                                <label><input name="nature" type="radio" value="6"/></label>
                                <label><input name="nature" type="radio" value="7"/></label>
                                <label><input name="nature" type="radio" value="8"/></label>
                                <label><input name="nature" type="radio" value="9"/></label>
                                <label><input name="nature" type="radio" value="10"/></label>
                            </div>
                            
                            <div class="radiogroup" id="learning">
                                I like learning new stuff
                                <label><input name="learning" type="radio" value="0" checked="checked"/></label>
                                <label><input name="learning" type="radio" value="1"/></label>
                                <label><input name="learning" type="radio" value="2"/></label>
                                <label><input name="learning" type="radio" value="3"/></label>
                                <label><input name="learning" type="radio" value="4"/></label>
                                <label><input name="learning" type="radio" value="5"/></label>
                                <label><input name="learning" type="radio" value="6"/></label>
                                <label><input name="learning" type="radio" value="7"/></label>
                                <label><input name="learning" type="radio" value="8"/></label>
                                <label><input name="learning" type="radio" value="9"/></label>
                                <label><input name="learning" type="radio" value="10"/></label>
                            </div>

                            
                            
<script src="//connect.facebook.net/en_US/all.js"></script>
                            <div id="poscont">
                                <input type="button" id="shareposition" onclick="getLocation()" value="Share position" style="width: 120px; height: 30px;">
                                <div id="mapholder" style="width: 360px; height: 150px;"></div>
                            </div>
                            <div id="button_set">
                                <input type="submit" value="Submit" id="submit" style="width: 120px; height: 30px;"/>
                                <!--<input type="reset" name="Reset" value="Reset" id="reset">-->
                            </div>
                            
                    <input name="geoLat" id="geoLat" type="hidden"/>
                    <input name="geoLong" id="geoLong" type="hidden"/>
                    <input name="facebook" id="fbook" type="hidden"/>
                    
                    
                </div>
            </form>
        </div>
    </div>
</body>
</html>